

.project-main{
    margin-top: 200px;
    min-height: 80vh;

}
.p-main{
    font-size: 300%;
    font-weight: 500;
}
.p-second{
    font-size: 120%;
}



/* media query */
@media only screen and (max-width: 994px) {
    /* .about-main{
      margin-top: 490px;
    } */
    .p-heading {
        margin-top: 70px;
    }
    .p-main{
        font-size: 100%;
        font-weight: 700;
    }
  
  }